# Godot 4+ specific ignores
.godot/
assets/movie.avi
wave.apk
wave.apk.idsig
server/node_modules
UI/save80.png
UI/save80.png.import
UI/save120.png
UI/save120.png.import
UI/save248.png
UI/save248.png.import
UI/save302.png.import
UI/save303.png
UI/save303.png.import
UI/save437.png
UI/save437.png.import
UI/save495.png
UI/save495.png.import
UI/save512.png.import
UI/save515.png.import
UI/save739.png
UI/save739.png.import
UI/save832.png.import
UI/save844.png.import
UI/save955.png.import
UI/save994.png
UI/save994.png.import
UI/splas.png
UI/splas.png.import
UI/splash1.png
UI/splash1.png.import
UI/splash2.png
UI/splash2.png.import
UI/splash3.png
UI/splash3.png.import
UI/splash4.png
UI/splash4.png.import
UI/splash5.png
UI/splash5.png.import
